{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="card-deck">
        {% for listing in listings %}
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.imageUrl }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <h6 class="card-subtitle mb-2">$
                {% if listing.currentBid %}
                    {{listing.currentBid}}
                {% else %}
                    {{listing.startingBid}}
                {% endif %}
                </h6>
                {{listing.created_date}}
                <div class="position-absolute bottom-0 end-0">
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary ">Place Bid</a>
                {% if listing in wlistings %}
                    <a href="{% url 'watch' listing.id %}" class="btn btn-primary ">Remove Watchlist</a>
                {% else %}
                    <a href="{% url 'watch' listing.id %}" class="btn btn-primary ">Add to Watchlist</a>
                {% endif %}
                </div>
                
                </div>
            </div>
        {% endfor %}  
    </div>
    
{% endblock %}